// Base


.primary {
	color: $base;
} 
.secondary {
	color: $black;
}
.secondary-gb {
	background-color: $black;
}
.green {
	background-color: $green !important;
}
.green-darker {
	background-color: #05612a;
}
.border-thin {
	border: 1px solid $green;
}
.border-thick {
	border: 5px solid $green;
}


// Display

.block {
	display: block;
}
.vh-height {
	height: 100vh;
}
.full-height {
	height: 100%;
}
.display-flex {
	display: flex;
}
.flex-center {
	display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
	position: relative;
}
.display-flex-row {
	display: flex;
	flex-direction: row;
}
.flex-center {
	align-items: center;
	align-content: center;
}
.flex-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	max-width: 1100px;
	margin: 0 auto;
}
.container {
	max-width: 1100px;
	padding: $base-padding;
}
.content-wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 1900px;
	height: 100%;
}
.center-wrapper {
    height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}
.row-equal-height {
	display: flex;
    align-items: stretch;
}
.invert {
	filter: invert(1);
}




// Positioning


.padding {
	padding: $base-padding !important;
}
.padding-big {
	padding: 1.5rem 1.5rem;
}
.padding-huge {
	padding: 6rem 2.5rem;
}
.double-padding {
	padding: 2 * $base-padding !important;
}
.double-padding-top {
	padding: 2 * $base-padding !important;
}
.no-padding {
	padding: 0 !important;
}
.padding-bottom {
	padding-bottom: $base-padding !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.margin-bottom {
	margin-bottom: $base-margin; 
}
.margin-bottom--big {
	margin-bottom: 4 * $base-margin; 
}
.double-margin-bottom {
	margin-bottom: 2 * $base-margin !important;
}
.no-margin {
	margin: 0 !important;
}
.margin-auto {
	margin: 0 auto;
}
.margin-top {
	margin-top: 1rem;
}




// Text


.text-medium {
	font-size: .9rem;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}
.text-actent {
	color: $yellow;
}