@font-face {
  font-family: 'Font-Name';
  src: url('../fonts/font-name.eot');
  src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'),
       url('../fonts/font-name.woff') format('woff'),
       url('../fonts/font-name.ttf') format('truetype'),
       url('../fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Montserrat !important;
}
h1, h2, h3, h4, h5, h6, span, p {
	margin: 0;
  padding: 0;
}

.section-header {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 300;
  border-bottom: 1px solid $base;

  &.alternative-header {
    color: $black;
    border-bottom: 1px solid $black;
  }
}
p {
  font-size: 1rem;
}
