#gallery {
	background-image:
		url('../img/gallery-bg-one.png'),
		url('../img/gallery-bg-two.png');
	background-position:
		10% 23%,
		right bottom;
	background-repeat: no-repeat;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.gallery-tile {
		clip-path: $hex-clip-path;
		flex-shrink: 0;
		background-size: contain;
		background-size: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		position: relative;
		cursor: pointer;
		&:hover {
			.mask {
				opacity: 1;
			}
		}
		&.small {
			width: 5 * $base-size;
			height: 5 * $base-size;
			max-height: 5 * $base-size;
		}
		&.medium {
			width: 6 * $base-size;
			height: 6 * $base-size;
		}
		&.large {
			width: 7 * $base-size;
			height: 7 * $base-size;
		}
		&.one {
    		margin-right: -1rem;
    		margin-top: 2rem;
    		background-image: url('../img/gallery-tile-one.jpg');
		}
		&.two {
			margin-bottom: -2.5rem;
			background-image: url('../img/gallery-tile-two.jpg');
		}
		&.three {
			margin-left: -1rem;
			margin-top: 2rem;
			background-image: url('../img/gallery-tile-three.jpg');
		}
		&.four {
		    margin-right: 2.7rem;
    		margin-top: -1rem;
    		background-color: gray;
		}
		&.five {
    		margin-top: -3.3rem;
    		background-image: url('../img/gallery-tile-five.jpg');
		}

		.mask {
			clip-path: $hex-clip-path;
			transition: all 0.5s;
			background-color: rgba(0, 0, 0, 0.7);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			vertical-align: middle;
			opacity: 0;
			span {
				font-size: 2.4rem;
			}
		}
	}
}