.hero {
	animation-name: rotateSkin;
	animation-duration: 80000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	background-image: url('../img/hero.jpg');
	background-size: contain;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	max-width: 750px;
	max-height: 750px;
	border-radius: 50%;

	@media all and (max-width: 650px) {
    	max-height: 250px;
    	max-width: 250px;
    }

	&.mask {
		z-index: 10;
		background-image: url('../img/hero-mask.png');
		animation-name: rotateRight;
		background-size: 100%;
    	
	}

}
.hero-wrapper {
	margin-bottom: 0 !important;
	width:100%;
	overflow: hidden;
}
.hero-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#hero-mask {

}


