.home {
	background-color: $black;
	position: relative;

	.home-bg {
		width: 100%;
		height: 100%;
		background-color: $black;
    	position: absolute;
    	bottom: 0;
    	overflow: hidden;
    	transition: all .4s .3s ease-in;

		.bg-mask {
			z-index: 200;
			top: 0;
			left: 0;
		}
		img {
			position: absolute;
			//filter: drop-shadow(0px 0px 50px black);

			@media only screen and (max-width:480px) {
				top: 150px;
			}
		}

		.bg {
			will-change: clip-path;
			animation-timing-function: cubic-bezier(.79,1.64,.2,-1.25);
			transform: translate(-50px, 0);
		}
		.trg-1 {
			clip-path: polygon(0.5% 0%, 54% 0%, 27.5% 75%);
			animation: triangleOne 4s 1;
		}
		.trg-2 {
			clip-path: polygon(0% 100%, 17.5% 50%, 35% 100%);
			animation: triangleTwo 3s 1;
		}
		.trg-3 {
			clip-path: polygon(28.5% 75%, 44.5% 30%, 60% 75%);
			animation: triangleThree 3.3s 1;
		}
		.trg-4 {
			clip-path: polygon(45.5% 30%, 58.5% 30%, 52% 50%);
			animation: triangleFour 3.5s 1;
		}
		.trg-5 {
			clip-path: polygon(46% 76%, 58.5% 76%, 52% 93%);
			animation: triangleFive 3s 1;
		}
	}
}

.home-caption {
	position: relative;
	top: 1rem;
    margin-left: auto;
	padding: $double-base-padding $base-padding !important;
	background-color: $semi-transparent;
	text-align: center;
	z-index: 300;
	@media only screen and (max-width:480px) {
		position: relative;
		top: 250px;
		width: 100% !important;
		margin: 0 auto !important;
	}

	h1 {
		margin: 0;
		border-top: 1px solid $base;
		color: $base;
	    font-size: 1.6rem;
    	text-transform: uppercase;
    	font-weight: 400;
	}
	h2 {
		color: white;
		font-size: 2rem;
		border-top: 1px solid $base;
		margin-bottom: 0;
	}
	span {
		font-size: 0.9rem;
		border-bottom: 1px solid $base;
	}
	.caption-border {
		margin: 0 auto;
		display: block;
		width: 80%;
		border-bottom: 1px solid $base;;
	}
	p {
		font-size: 1rem;
		border-bottom: 1px solid #DDD;
		border-top: 0;
		margin-bottom: 0;
		padding: $double-base-padding 0!important;
	}
}

.home-logo {
    max-width: $logo-width;
    position: absolute;
    bottom: 0.5rem;
    right: $double-base-padding;
    filter: invert(1);

    @media only screen and (max-width:480px) {
    	top: 10px;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto;
	}
}
.home-icons {
	text-align: center;
	margin-left: auto;
	padding-top: $double-base-padding;

	@media only screen and (max-width:480px) {
		display: inline;
		margin: 0;
		position: relative;
		right: 30px;
		bottom: 30px;
	}

	.social-icon {
		width: 35px;
		height: auto;
		padding: 0.5 * $base-padding;
		margin-right: $base-margin;
    	box-sizing: content-box;
    	border: 1px solid transparent;
    	filter: invert(1);
    	transition: all .3s ease-in;
    	cursor: pointer;

		&:hover {
			border: 1px solid black;
		}
		
	}
}
.home-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;

	@media only screen and (max-width:480px) {
		margin-top: 150px;
	}

	p {
		border-bottom: 0.5px solid $white;
	}

	&:hover {
		p {
			border-bottom: 0.5px solid $black;
		}
	}

	.icon {
		width: 75px;
		height: 75px;
		clip-path: polygon(50% 3%, 95% 25%, 95% 75%, 50% 97%, 5% 75%, 5% 25%);
	}
	p {
		color: $black;
		font-size: 1rem;
		margin-left: $base-margin;
	}
}