nav {
  height: $nav-height;
	font-family: Raleway;
	font-weight: 200;
	background-color: $primary;
	text-transform: uppercase;
  ul {
    list-style: none;
    li {
    	display: block;
      a {
        transition: border-bottom 0.25s ease-in;
      	font-size: .8rem;
        height: $nav-height;
        border-bottom: 1px solid $primary;
        &:hover {
          background-color: rgba(255,255,255, 0.05);
          border-bottom: 1px solid $white;
        }
      }
      .active {
        background-color: $semi-transparent !important; 
      }
    }
  }
}
