nav {
	background: 
		radial-gradient(ellipse at center bottom, $yellow 0%, $green 100%);

	ul {
		li:last-of-type {
			margin-right: 1rem;
		}
	}
}
.brand-logo {
	position: fixed;
	left: 3%;

	img {
	    padding: 6px;
    	background: 
			radial-gradient(ellipse at right bottom, $yellow 0%, rgba($green, 0.9) 100%);
    	border-radius: 50%;
	}
}